<datalist id="fuente-familiares">
</datalist>

<div class="accordion" id="acordeonlc-<%= f.object.id %>">
  <%= item_acordeon_bs(
    'acordeonlc', "colapsalc-#{f.object.id}", 
    'Familiares', false, {
      'estilo_accordion-header': 'text-align: center',
      'clase_accordion-body': 'table-responsive',
      'estilo_accordion-body': 'overflow-x:scroll'
    }) do %>
    <% if f.object.id.nil? %>
      Una vez guarde este registro y vuelva a editar podrá agregar familiares
      <% return %>
    <% end %>
    <% persona = f.object ? f.object : @persona %>
    <div class="div-tabla tabla_familiares">
      <div id="persona_trelacion1_marco" class="div-tabla-cuerpo">
        <div class="div-tabla-fila"> 
          <div class="div-tabla-celda">Nombres</div>
          <div class="div-tabla-celda">Apellidos</div>
          <div class="div-tabla-celda">Sexo</div>
          <div class="div-tabla-celda">Tipo Id.</div>
          <div class="div-tabla-celda">Número Id.</div>
          <div class="div-tabla-celda">Parentesco</div>
          <div class="div-tabla-celda">Acciones</div>
        </div> 
        <%= f.simple_fields_for :persona_trelacion1 do |subf| %>
          <%= render partial: "msip/personas/persona_trelacion1_campos", 
            locals: {f: subf} %>
        <% end %>
      </div>
    </div>
    <div class="enlace-agregar-familiar">
      <%= f.submit t("Agregar familiar"),
        formaction: msip.crear_persona_trelacion_path(
          index: persona.persona_trelacion1.size
        ),
        formmethod: :post,
        formnovalidate: true,
        class: 'btn btn-sm btn-primary',
        name: "agregar-familiar",
        id: "agregar-familiar",
        data:  {
          disable_with: false } %>
    </div>
  <% end %>
</div> <!-- accordion -->
