  <li>PostgreSQL. 
    <span id='ver_postgresql'>
      <%= ActiveRecord::Base.connection.select_value('SELECT version()') %>
    </span>
  </li>

  <li>Ruby 
    <span id='ver_ruby'>
      <%= RUBY_VERSION %>
    </span>
  </li>

  <li>Ruby on Rails 
    <span id='ver_rails'>
      <%= Gem::Specification.find_by_name("rails").version.to_s %>
    </span>
  </li>

  <li>Stimulus Rails
    <span id='ver_stimulus-rails'>
      <%= Gem::Specification.find_by_name("stimulus-rails").version.to_s %>
    </span>
  </li>

  <li>Turbo Rails
    <span id='ver_turbo-rails'>
      <%= Gem::Specification.find_by_name("turbo-rails").version.to_s %>
    </span>
  </li>

  <li>
    <div class='btn'>Bootstrap</div>  
    <span id='ver_bootstrap'></span>
    <script type="module"> 
      setTimeout(() => {
        let vb = document.querySelector("#ver_bootstrap");
        debugger
        vb.innerHTML = bootstrap.Tooltip.VERSION;
      }, 8000);
    </script>
  </li>

  <li>
    <select class="form-control select optional msip-sf-bs-input tom-select" 
            multiple="multiple" name="f[ejtom_ids][]" 
                                id="f_ejtom_ids">
      <option selected="selected" value="tom-select">tom-select</option>
    </select>
  </li>
