<% color = "blue" %>
<% if t >= ep %>
  <% color = "red" %>
<% end %>
<% ancho = t * 200 / ep %>
<div style="display: flex;width:200px; border: 1px solid <%= color %>; height: 20px" >
  <div style="width: <%= ancho %>px; background-color: <%= color %>; height: 18px"></div>
</div>
<% if defined?(enlace) && enlace %>
  <a href="<%= msip.espacio_path %>"><%= Msip::ProcesosHelper.tamhumano(t) %></a>
<% else %>
  <%= Msip::ProcesosHelper.tamhumano(t) %> 
<% end %>
  / <%= Msip::ProcesosHelper.tamhumano(ep) %>



