<% ancho = t * 200 / ep %>
<div style="display: flex;width:200px; border: 1px solid blue; height: 20px" >
  <div style="width: <%= ancho %>px; background-color: blue; height: 18px"></div>
  <div style="width: 150px;"></div>
</div>
<% if defined?(enlace) && enlace %>
  <a href="<%= msip.espacio_path %>"><%= Msip::ProcesosHelper.tamhumano(t) %></a>
<% else %>
  <%= Msip::ProcesosHelper.tamhumano(t) %> 
<% end %>
  / <%= Msip::ProcesosHelper.tamhumano(ep) %>



