
<h1>Espacio en disco</h1>

<ul>
  <li>
    Espacio disponible en partición: 
    <% ep = espacioparticion_OpenBSD(ENV.fetch('MSIP_RUTA_ANEXOS')) %>
    <%= Msip::ProcesosHelper.tamhumano(ep[2]) %>
  </li>
  <li>
Espacio disponible en plan: 
<%= Msip::ProcesosHelper.tamhumano(Msip::HogarController::espacioenplan) %>
  </li>
</ul>


<h2>Espacio usado</h2>
<%
a = discousado_OpenBSD(ENV.fetch('MSIP_RUTA_ANEXOS'))
r = discousado_OpenBSD(ENV.fetch('MSIP_RUTA_VOLCADOS'))
rh = ENV.fetch('HEB412_RUTA', '')
n = rh == '' ? 0 : discousado_OpenBSD(rh)
t = a+r+n
  %>
<ul>
  <li>
    Anexos: <%= Msip::ProcesosHelper.tamhumano(a) %>
  </li>
  <li>
    Respaldos: <%= Msip::ProcesosHelper.tamhumano(r) %>
  </li>
  <li>
    Nube: <%= Msip::ProcesosHelper.tamhumano(n) %>
  <li>
    Total: <%= Msip::ProcesosHelper.tamhumano(t) %>
  </li>
</ul>
<h2>Espacio usado / Espacio disponible en plan:</h2>
<%= render partial: 'barra_espacio', locals: {t: t, ep: Msip::HogarController::espacioenplan, enlace: false } %>
