<% @validaciones.try(:each) do |tabla| %>
  <h3><%= CGI.escapeHTML(tabla[:titulo]) %>: <%= tabla[:cuerpo].count %></h3>
  <% if tabla[:cuerpo].count > 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <% tabla[:encabezado].try(:each) do |enc| %>
            <th><%= CGI.escapeHTML(enc) %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% numfila = 0 %>
        <% tabla[:cuerpo].try(:each) do |fila| %>
          <tr>
            <% i=0; fila.try(:each) do |campo| %>
              <td>
                <% if i == 0 && tabla[:enlaces] && tabla[:enlaces][numfila] %>
                  <%= link_to(
                    campo, 
                    tabla[:enlaces][numfila]) if campo %>
                <% else %>
                  <%= CGI.escapeHTML(campo.to_s) if campo %>
                <% end %>
                <% i += 1 %>
              </td>
            <% end %>
          </tr>
          <% numfila += 1 %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>



