<%- model_class = clase.constantize -%>
<div class="page-header">
<div class="page-header">
  <h1>
    <% if defined?(@titulo) %>
      <%= @titulo %>
    <% else %>
      <%=t '.title', 
        :default => [
          t("Validar ") + " " + model_class.human_attribute_name(
      model_class.model_name.to_s.demodulize.pluralize) 
        ] %>
    <% end %>
  </h1>
</div>

<%= simple_form_for clase.constantize.new, 
  :url => { action: "validar_conjunto" },
  :html => { :class => 'form-horizontal' } do |f| 
%>
  <div data-role="content" class="form-inputs">
    <div id="errores">
      <% if f.object.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            El formulario tiene 
            <%= pluralize(f.object.errors.count, "error") %>.
          </div>
          <ul>
            <% f.object.errors.full_messages.each do |msg| %>
              <li>* <%= msg %></li>
            <% end %>
          </ul>
        </div> <!-- error-explanation -->
      <% end %>
      <%= f.error_notification %>
    </div> <!-- errores -->
    <div class="container">
      <% if @con_filtro %>
        <div class="row filtro-fila">
          <div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
            <%= @rango_fechas %>
          </div>
          <div class="offset-sm-0 col-sm-4">
            <% fpred = Msip::FormatoFechaHelper.inicio_semestre(Date.today) %>
            <%= f.input :fechaini,
              input_html: {
                type: "date",
                value: (params[:validarcaso] ? 
                        params[:validarcaso][:fechaini] :
                        Msip::FormatoFechaHelper.fecha_estandar_local(fpred)
                       )
              },
              label: false,
              maxlength: 10, 
              placeholder: 'Inicial',
              size: 10
            %>
          </div>
          <div class="offset-sm-1 col-sm-4">
            <%= f.input :fechafin,
              maxlength: 10, 
              size: 10,
              label: false,
              placeholder: 'Final',
              input_html: {
                type: "date",
                value: params[:validarcaso] ? 
                params[:validarcaso][:fechafin] : ''
              }
            %>
          </div>
        </div> <!-- row -->

        <%= render 'restofiltro', {f: f} %>

        <div class="row filtro-fila">
          <div class="offset-md-5 col-md-2">
            <%= f.button :submit, 'Filtrar', class: 'btn btn-default',
              'data-turbo' => false %>
          </div>
        </div> <!-- class: row -->
      <% end %>

    </div>  <!-- class:container -->
  </div> <!-- class:form-inputs -->
<% end %>

<div id="resultado">
  <%= render 'resultado_validar_conjunto' %>
</div> 
