<% orgsocial = f.object ? f.object : @orgsocial %>
<% if orgsocial.id %>
  <% div_id = "orgsocial_persona_#{orgsocial.id}" %>
  <div id="<%= div_id %>" class="orgsocial_persona">
    <label class="string optional control-label" for="tabla_<%= div_id %>"><%= t('Contactos en la organizaci칩n social') %></label>
    
    <datalist id='fuente-contactos-orgsocial'>
    </datalist>
    <div id="tabla_<%= div_id %>" class="div-tabla">
      <div id="orgsocial_personas_marco" class="div-tabla-cuerpo">
        <div class="div-tabla-fila"> 
          <div class="div-tabla-celda-encabezado"><%= t('Nombres') %></div>
          <div class="div-tabla-celda-encabezado"><%= t('Apellidos') %></div>
          <div class="div-tabla-celda-encabezado"><%= t('Sexo') %></div>
          <div class="div-tabla-celda-encabezado"><%= t('Perfil') %></div>
          <div class="div-tabla-celda-encabezado"><%= t('Cargo') %></div>
          <div class="div-tabla-celda-encabezado"><%= t('Correo') %></div>
          <div class="div-tabla-celda-encabezado"><%= t('Acciones') %></div>
        </div>
        <%= f.simple_fields_for :orgsocial_persona,
          Msip::OrgsocialPersona.where(orgsocial_id: orgsocial.id) do |subf| %>
          <%= render partial: 'orgsocial_persona_campos', locals: {f: subf} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="enlace-agregar-contacto">
    <%= f.submit t('A침adir contacto'),
      formaction: msip.crear_orgsocial_persona_path(index: @orgsocial.orgsocial_persona.size),
      formmethod: :post,
      formnovalidate: true,
      class: 'btn btn-sm btn-primary',
      name: "agregar-orgsocial-persona",
      id: "agregar-orgsocial-persona", 
      data:  {
        disable_with: false } %>
  </div>
<% else %>
  <p>Podr치 crear contactos una vez cree la organizaci칩n social</p>
<% end %>
