<%= turbo_frame_tag "orgsocial_persona_#{f.index}", class: 'div-tabla-fila nested-fields' do %>
  <% if f.object.persona.nil? %>
    <% f.object.persona = Msip::Persona.new %>
  <% end %>
  <%= f.simple_fields_for :persona do |p| %>
    <div class="div-tabla-celda">
      <%= p.input :id, as: :hidden %>
      <% ph = 'N'
      ac = {'data-autocompleta' => 'no' }
      if (!p.object || !p.object.nombres || p.object.nombres == 'N' || p.object.nombres == '')
        ph = t('Buscar')
        ac = { autocomplete: 'off',
               list: 'fuente-contactos-orgsocial'
        }
      end %>
      <%= p.input :nombres, placeholder: ph,
        value_method: lambda {|t| '' if t.nombres == 'N'},
        label: false,
        :input_html => ac %>
    </div>
    <div class="div-tabla-celda">
      <%= p.input :apellidos, label: false %>
    </div>
    <div class="div-tabla-celda">
      <%= p.input :sexo, 
        collection: Msip::Persona::sexo_opciones_cortas,
        label: false,
        input_html: { style: 'width: 4em' },
        include_blank: false %>
    </div>
    <div class="div-tabla-celda">
      <%= f.association :perfilorgsocial, 
        collection: Msip::Perfilorgsocial.habilitados.order(:nombre),
        include_blank: true,
        label: false,
        label_method: :nombre,
        value_method: :id
      %>
    </div>
    <div class="div-tabla-celda">
      <%= f.input :cargo, label: false %>
    </div>
    <div class="div-tabla-celda">
      <%= f.input :correo, label: false %>
    </div>
    <div class="div-tabla-celda">
      <%= f.input :id, as: :hidden %>
      <%= render partial: 'msip/orgsociales/orgsocial_persona_campos_mas_acciones', locals: {f: f} %>
      <%= link_to_remove_association "Eliminar", f, 
        :class => 'btn btn-sm btn-danger', "data-existing" => true %>
      <div><%= f.error_notification %></div>
    </div>
  <% end %>
<% end %>
